<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/form.css">
    <script src="/validation.js"></script>
    <title>BookStore</title>
</head>
<body>
<div th:replace="fragments.html :: logo"></div>
<div th:replace="fragments.html :: menu"></div>
<div id="content">
    <form method="post" onsubmit="return validationLoginForm()">
        <input type="text" placeholder="Login" th:field="*{userModel.login}" id="login">
        <input type="password" placeholder="Hasło" th:field="*{userModel.password}" id="password">
        <input type="password" placeholder="Powtórz hasło" name="password2" id="password2">
        <input type="submit" value="OK">
    </form>
</div>
</body>
</html>